/*
take from https://fabiensanglard.net/nousb/index.html
*/

body {
      font-family: Consolas,
                   Monospace, /* Linux = DejaVu Sans Mono */
                   Courier;   /* MacOSX & Windows = Courier */
      font-size: 16px;              
      max-width: 900px;  /* For Desktop PC (see @media for Tablets/Phones) */
      padding-left: 2%;
      padding-right: 3%;
      margin: 0 auto;
      background: #F5F5F0;
  	} 
    


  	a {
      color: black;
      font-weight: bold;
    }

    img {
      border: none; 
    }

    p {
      margin-top: 0px;
      margin-bottom: 4ch;
      text-align: justify;
    }
    sup {
      vertical-align: 0.3em;
      font-size: 0.65em;
    }   

    pre {
      font-family: Consolas,
                   Monospace, /* Linux = DejaVu Sans Mono */
                   Courier;   /* MacOSX & Windows = Courier */
      font-size: 16px;            
      background-color: white; 
      border: 1px solid Black; 
      padding-left: 2%;
      padding-top: 1ch;
      padding-bottom: 1ch;
      overflow: scroll;
    }

    div.heading {
      font-weight: bold;      
      text-transform: uppercase;
    }

    /** {
      font-size: 16px;
    }*/
    @media (max-width: 500px) { /* For small screen decices */
      *{
        font-size: 12px; 
      }
      pre {
       font-size: 11px;  
      }
    }   
    .title {
      text-decoration: none;
    }

    img.pixel, canvas.pixel {
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;
    }

    blockquote { 
    background-color: #f3f3f3;
    border: dashed 1px grey; 
    width: 97.5%; 
    font-style: italic; 
    text-align: justify;

    padding: 1ch; 
    padding-top: 2ch; 
    padding-bottom: 2ch;     
    
    margin : 0ch; 
    margin-bottom: 2ch; 
    margin-top: 0ch;
  }

  blockquote div {
    text-transform: none;
    text-align: right;
    width: 100%;
  }
